<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Word Fall Online</title>
        <link rel="stylesheet" type="text/css" href="/dist/index.css">
        <script src="homepage.js" type="module"></script>
	</head>

	<body>
		<%- include("partials/board.ejs", {letters: letters}); %>
	</body>
</html>