.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.word-board {
	/** center **/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


	position: absolute;
	width: 500px;
	height: 500px;
	border-radius: 4px;
}

.grid-container {


	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	position: absolute;
	width: 100%;
	height: 100%;

	border: 4px solid #bbada0;
	background-color: #fbfaf9;

}

.grid-row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	width: 100%;
	height: 20%;
}

.grid-cell {
	display: inline-block;
	position: relative;
	width: 20%;
	height: 100%;
	background-color: #bbada0;
	border-radius: 4px;
	/* box-shadow: 0 5px 15px rgba(61, 90, 108, 0.2); */
	transition: 0.05s;
}

.letter-tile-container {
	width: 100%;
	height: 100%;
}

.letter-tile {
	position: absolute;
	width: 20%;
	height: 20%;
	background-color: #eee4da;
	border-radius: 4px;
	transition: 0.05s;
	transition-timing-function: ease-in;

	display: flex;
	align-items: center;

	h1 {
		width: 100%;
		text-align: center;
		color: #3d1818;
		font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
		font-size: 3rem;
	}

	&:hover, &:active, &[selected] {
		transform: scale(1.02);
	}

	&:hover {
		background-color: #f5e7db;
	}

	&:active, &[selected] {
		background-color: #f3b27a;
	}
}

.line-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

@for $r from 0 through 3 {
	@for $c from 0 through 3 {
		.position-#{$r}-#{$c} {
			left: 4% + 24% * $c;
			top: 4% + 24% * $r;
		}
	}
}