@import "gameBoard";

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.grid-container {
	animation: fadeIn 2s ease-in forwards;
}

.letter-tile {
	display: none;
}

@keyframes fadeIn {
	from { opacity: 0.6; }
	to { opacity: 1; }
}

#loadOverlay { display: none; }