@import "gameBoard";

html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.word-board {
	opacity: 0.4;
	animation: fadeIn2 2s ease-in forwards;
}

.grid-container {
	opacity: 0.4;
	animation: fadeIn 2s ease-in forwards;
}

.letter-tile {
	display: none;
}

@keyframes fadeIn {
	from { opacity: 0.4; }
	to { opacity: 1; }
}

@keyframes fadeIn2 {
	from { opacity: 0.4; }
	to { opacity: 1; }
}

#loadOverlay{display: none;}