<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Word Fall Online</title>
    <link rel="stylesheet" type="text/css" href="/dist/style.css">
</head>
<body id="body-override">
    <p>foo</p>

    <script src="index.js" type="module"></script>
</body>
</html>